@model AddProductModel
@{
	ViewData["AddProduct"] = "Add Product";
}
<h1>@ViewData["AddProduct"]</h1>

<div>
	<form asp-controller="Product" asp-action="AddProduct">
		@*<div class="form-group">
			@Html.LabelFor(model => model.ProductCode, new { @class = "sr-only", @for = "ProductCode" })
			@Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control", @placeholder = "ProductCode:" , @id="ProductCode" })
			@Html.ValidationMessageFor(model => model.ProductCode)
		</div>*@

		<div class="form-group">
			@Html.LabelFor(model => model.ProductName, new { @class = "sr-only", @for = "ProductName" })
			@Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", @placeholder = "ProductName" , @id="ProductName" })
			@Html.ValidationMessageFor(model => model.ProductName)
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Description, new { @class = "sr-only", @for = "Description" })
			@Html.TextBoxFor(model => model.Description, new { @class = "form-control", @placeholder = "Description" , @id="Description" })
			@Html.ValidationMessageFor(model => model.Description)
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Price, new { @class = "sr-only", @for = "Price" })
			@Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "Price" , @id="Price" })
			@Html.ValidationMessageFor(model => model.Price)
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ProductQuantity, new { @class = "sr-only", @for = "ProductQuantity" })
			@Html.TextBoxFor(model => model.ProductQuantity, new { @class = "form-control", @placeholder = "ProductQuantity" , @id="ProductQuantity" })
			@Html.ValidationMessageFor(model => model.ProductQuantity)
		</div>

		<br />
		<div>
			<button type="submit" class="btn btn-primary">Add</button>
		</div>

	</form>
</div>
<br />
